{% extends 'base.html' %}
{% load static %}
{%block body %}

<!-- account form section starts  -->

<div class="account-form">

   <div id="close-form" class="fas fa-times"></div>

   <div class="buttons">
      <span class="btn active login-btn">login</span>
      <span class="btn register-btn">register</span>
   </div>

   <form class="login-form active" action="">
      <h3>login now</h3>
      <input type="email" placeholder="enter your email" class="box">
      <input type="password" placeholder="enter your password" class="box">
      <div class="flex">
         <input type="checkbox" name="" id="remember-me">
         <label for="remember-me">remember me</label>
         <a href="#">forgot password?</a>
      </div>
      <input type="submit" value="login now" class="btn">
   </form>

   <form class="register-form" action="">
      <h3>register now</h3>
      <input type="email" placeholder="enter your email" class="box">
      <input type="password" placeholder="enter your password" class="box">
      <input type="password" placeholder="confirm your password" class="box">
      <input type="submit" value="register now" class="btn">
   </form>

</div>

<!-- account form section ends -->

<!-- header section ends -->

<section class="heading-link">
   <h3>about us</h3>
   <p> <a href="home.html">home</a> / about </p>
</section>

<!-- about section starts  -->

<section class="about">

   <div class="image">
      <img src="{%static "images/about-img.jpg"%}" alt="">
      
   </div>

   <div class="content">
      <h3 class="about-title">Best analysis of a question paper</h3>
      <p>Not boasting about our firm but we are the best firm in the industry offering the best and precise accuracy of a question paper .</p>
      <div class="icons-container">
         <div class="icons">
            <img src="{%static "images/about-icon-1.png"%}" alt="">
            
            <h3>15+</h3>
            <span>subjects</span>
         </div>
         <div class="icons">
            <img src="{%static "images/about-icon-2.png"%}" alt="">
            <h3>5+</h3>
            <span>Teachers</span>
         </div>
      </div>
   </div>

</section>

<!-- teachers section ends -->







<section class="reviews">

   <h1 class="heading">  Teacher review </h1>

   <div class="swiper reviews-slider">

      <div class="swiper-wrapper">
         <div class="swiper-slide slide">
            <p>Cudos to the developer of the website that have worked so much hard on the herbet model and the website as well.</p>
            <img src="{%static "images/teacher-4.png"%}" alt="">
            <h3>Olivia</h3>
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
            </div>
         </div>

         <div class="swiper-slide slide">
            <p>It is one of the best website u can come across and it really helped me in reducing my time for analysis of paper.</p>
            <img src="{%static "images/teacher-2.png"%}" alt="">
            
            <h3>john</h3>
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
            </div>
         </div>

         <div class="swiper-slide slide">
            <p>What a wonderful and marvelous site i have come across.One of the best website thats provides closest accuracy and precision.</p>
            <img src="{%static "images/teacher-3.png"%}" alt="">
            <h3>Isabella</h3>
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
            </div>
         </div>

         
      </div>

   </div>

</section>

<!-- students reviews section ends -->




{%endblock body %}