{% extends 'base.html' %}
{% load static %}
{%block body %}


<!-- header section ends -->

<section class="heading-link">
   <h3>contact us</h3>
   <p> <a href="/index">home</a> / contact </p>
</section>

<!-- contact section starts  -->

<section class="contact">

   <h1 class="heading"> get in touch </h1>

   <div class="icons-container">

      <div class="icons">
         <i class="fas fa-clock"></i>
         <h3>Available :</h3>
         <p>11.00am to 5.00pm</p>
      </div>

      <div class="icons">
         <i class="fas fa-phone"></i>
         <h3>Phone no :</h3>
         <p>8146024190</p>
         <p>9878063090</p>
         <p>7503993250</p>
      </div>

      <div class="icons">
         <i class="fas fa-envelope"></i>
         <h3> Email : </h3>
         <p>dhruvtaneja@619gmail.com</p>
         <p>palak.srinet@gmail.com</p>
         <p>pathak.tanupriya@gmail.com</p>
      </div>

      <div class="icons">
         <i class="fas fa-map"></i>
         <h3>Address :</h3>
         <p>Noida Sector 62-JIIT</p>
      </div>

   </div>

   <div class="row">

      <div class="image">
        
         <img src=" {%static "images/contact-img.png"%}" alt="">
      </div>

      <form action="/contact" method="POST">
         {% csrf_token %}
         <h3>In case of any query</h3>
         <input name="name" type="text"  placeholder="name" class="box" >
         <input name="email" type="email" placeholder="email" class="box">
         <input name="phone" type="number" placeholder="phone" class="box">
         <textarea name="message" class="box" placeholder="message" id="" cols="30" rows="10"></textarea>
         <input type="submit" value="send message" class="btn">
      </form>

   </div>

</section>

<!-- contact section ends -->

<!-- faq section starts  -->

<section class="faq">

   <h1 class="heading">frequently asked questions</h1>

   <div class="accordion-container">

      <div class="accordion active">
         <div class="accordion-heading">
            <h3>how to contact for help?</h3>
            <i class="fas fa-angle-down"></i>
         </div>
         <p class="accordion-content">
            In case of any problem you can contact us on our number or contact us on our email mentioning the problem you are facing.
         </p>
      </div>

      <div class="accordion">
         <div class="accordion-heading">
            <h3>Is this website also available for students?</h3>
            <i class="fas fa-angle-down"></i>
         </div>
         <p class="accordion-content">
            This website can be used by anyone but majorly it is used to help the teacher to reduce there wastage of time.
         </p>
      </div>

      <div class="accordion">
         <div class="accordion-heading">
            <h3>How much fees for Question analysis?</h3>
            <i class="fas fa-angle-down"></i>
         </div>
         <p class="accordion-content">
            Since we are in the early stages of our development we aren't charging any fees it is free of cost
         </p>
      </div>

      <div class="accordion">
         <div class="accordion-heading">
            <h3>can I enter any subject?</h3>
            <i class="fas fa-angle-down"></i>
         </div>
         <p class="accordion-content">
            Since we are at a early stage our data set only contains some limited words so u can only enter subject mainly mentioned.
         </p>
      </div>
   </div>

</section>

<!-- faq section ends -->

<!-- logo slider starts  -->

<section class="logo-container">
   <div class="swiper logo-slider">
      <div class="swiper-wrapper">
         <div class="swiper-slide"> <img src="images/partner-logo-1.png" alt=""> </div>
         <div class="swiper-slide"> <img src="images/partner-logo-2.png" alt=""> </div>
         <div class="swiper-slide"> <img src="images/partner-logo-3.png" alt=""> </div>
         <div class="swiper-slide"> <img src="images/partner-logo-4.png" alt=""> </div>
         <div class="swiper-slide"> <img src="images/partner-logo-5.png" alt=""> </div>
      </div>
   </div>
</section>

<!-- logo slider ends -->







{%endblock body %}



