{% extends 'base.html' %}
{% load static %}
{%block body %}

<!-- account form section starts  -->

<div class="account-form">

   <div id="close-form" class="fas fa-times"></div>

   <div class="buttons">
      <span class="btn active login-btn">login</span>
      <span class="btn register-btn">register</span>
   </div>

   <form class="login-form active" action="">
      <h3>login now</h3>
      <input type="email" placeholder="enter your email" class="box">
      <input type="password" placeholder="enter your password" class="box">
      <div class="flex">
         <input type="checkbox" name="" id="remember-me">
         <label for="remember-me">remember me</label>
         <a href="#">forgot password?</a>
      </div>
      <input type="submit" value="login now" class="btn">
   </form>

   <form class="register-form" action="">
      <h3>register now</h3>
      <input type="email" placeholder="enter your email" class="box">
      <input type="password" placeholder="enter your password" class="box">
      <input type="password" placeholder="confirm your password" class="box">
      <input type="submit" value="register now" class="btn">
   </form>

</div>

<!-- account form section ends -->

<!-- header section ends -->

<!-- home section starts  -->

<section class="home">

   <div class="swiper home-slider">
      
      <div class="swiper-wrapper">

         <section class="swiper-slide slide" style="background-image: url('{%static "imgs/home-slide-1.jpg"%}');">
            <div class="content">
               <h3>Best question paper analysis is done by our firm!</h3>
               <p>We're the best industry for analysis of question papers.We provide proper question classification and help the teacher to analyse the paper in less time</p>
               <a href="#" class="btn">Upload Your question paper</a>
            </div>
         </section>

 


      </div>

      <div class="swiper-pagination"></div>

   </div>

</section>

<!-- home courses slider section ends -->




{%endblock body %}


